<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parakh 2023</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />

    <!--favicon-img-->
    <link rel="icon" type="image/webp" href="images/logo2.webp" />
    <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- MAIN CONTENT -->
    <main id="index-one">
      <!-- CUSTOM CURSOR -->
      <div class="cursor scale"></div>
      <div class="cursor-two scale"></div>
      <!-- CUSTOM CURSOR -->

      <!-- PRELOADER -->
      <div id="preloader">
        <div class="p">
          <img src="images/logo100.webp" alt="headphone" />
          <br />
          Happy Quizzing!!
        </div>
      </div>
      <!-- PRELOADER -->
      <div class="big-text">
        <img
          src="images/LogoComic.webp"
          width="500"
          height="125"
          alt="parakhlogo"
        /><br />
      </div>
      <div class="big-text1">
        <br /><br />The annual quizzing <br />festival of IIT Patna
      </div>

      <!-- HEADER -->
      
      <div id="header">
        <!-- NAVIGATION -->
        <div class="navigation">
          <div class="logo hover">
            <img src="images/logo2.webp" style="width: 25px; height: 25px;" alt="play" data-song="darkfire" >
            <a href="#" class="text">QUIZ CLUB IIT PATNA</a>
          </div>
          <div class="menu-bar hover">
            <div class="menu-bar-name text">Menu</div>
            <div class="menu-bar-lines text">
              <div class="menu-bar-line"></div>
              <div class="menu-bar-line"></div>
            </div>
          </div>
        </div>
        <!-- NAVIGATION -->

        <!-- SOCIAL-MEDIA-LINKS -->
        <div class="social-media-links">
          <ul>
            <li><a href="#" data-text="Youtube" class="text hover"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#" data-text="Facebook" class="text hover"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#" data-text="Instagram" class="text hover"><ion-icon name="logo-instagram"></ion-icon></a></li>
          </ul>
        </div>
        <!-- SOCIAL-MEDIA-LINKS -->

        <!-- HEADPHONE IMG -->
        <div class="headphone img text">
          <img src="images/LogoComic.webp" class="text" alt="headphone" />
        </div>
        <!-- HEADPHONE IMG -->

        <div class="outer">
          <!-- NEW RELEASE -->

          <img
            src="images/mainpar2.webp"
            align="center"
            width="600"
            height="800"
            alt="new-release"
          />

          <!-- NEW RELEASE -->
        </div>
      </div>

      <!-- HEADER -->

      <!-- NAVIGATION CONTENT -->

      <div class="navigation-content">
        <div class="navigation-logo hover opacity">
          <img src="images/logo2.webp" style="width: 25px; height: 25px;" alt="play" data-song="darkfire" >
          <a href="#" class="text">QUIZ CLUB IIT PATNA</a>
        </div>
        <ul class="navigation-ul">
          <li><a href="index.html" data-text="Home">Home</a></li>
          <li><a href="blog-single.html" data-text="Quizzes">Quizzes</a></li>
          <li><a href="teams.html" data-text="Team">Team</a></li>
          <li><a href="contact-one.html" data-text="Contact">Contact</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
          <div class="navigation-close-line"></div>
          <div class="navigation-close-line"></div>
        </div>

        <div class="project-preview"></div>

        <!-- HEADPHONE IMG -->
        <div class="headphone-navigation opacity">
          <img
            src="images/LogoComic.webp"
            title="headphone zone"
            class="text"
            alt="headphone"
          />
        </div>
        <!-- HEADPHONE IMG -->

        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
          <ul>
            <li><a href="#" class="text hover opacity"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#" class="text hover opacity"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#" class="text hover opacity"><ion-icon name="logo-instagram"></ion-icon></a></li>
          </ul>
        </div>
        <!-- SOCIAL MEDIA LINKS -->
      </div>

      <!-- NAVIGATION CONTENT -->
    </main>
    <!-- MAIN CONTENT -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
