<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parakh 2023</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    
       <!--favicon-img--> 
       <link rel="icon" type="image/webp" href="images/LogoComic.webp" style="width: 60px; height: 15px;" >
       <!--favicon-img-->
    
        <link rel="stylesheet" href="css/index.css">
       
    
    </head>
<body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <main id="songs-one">


        
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <img src="images/logo100.webp" alt="headphone">
                <br> Happy Quizzing!!
            </div>
        </div>
        <!-- PRELOADER -->

<!-- CONTENT -->
        <div id="songs-one-content">



   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
        <img src="images/logo2.webp" style="width: 25px; height: 25px;"  >
       <a href="index-two.html" class="text">QUIZ CLUB IIT PATNA</a>
    </div>
    <div class="menu-bar hover ">
        <div class="menu-bar-name text">
            Menu
        </div>
        <div class="menu-bar-lines text">
            <div class="menu-bar-line"></div>
            <div class="menu-bar-line"></div>
        </div>
    </div>
</div>
<!-- NAVIGATION -->






<!-- HEADING -->
<div class="heading">
    <div class="text">
      THE TEAM
    </div>
</div>

<!-- HEADING -->




<!-- SONGS CONTAINER -->


<div class="center">
<div id="songs-container">

    <!-- SONG -->
    <div class="song fade-up">

        <div class="song-img">
            <img src="images/nar.webp" alt="song">
        </div>
    
        <div class="song-details">
            <div class="song-details-content">
            <div class="song-name">Gogineni Naren</div>
            <div class="artist-name">Aluminati</div>
            </div>
            <div class="music-player">
             
                <div class="play-song mouse">
                    <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                    <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                    <audio data-audio="blindinglights">
                        <source src="music/The-Weeknd-Blinding-Lights-_Lyrics_.ogg" type="audio/ogg">
                        <source src="music/The Weeknd - Blinding Lights (Lyrics).mp3" type="audio/mp3">
                        </audio> 
                </div>
                <div class="download-song mouse">
                    <a href="music/The Weeknd - Blinding Lights (Lyrics).mp3"  download="Blinding Lights - QUIZ CLUB IIT PATNA"></a>
                </div>
            </div>
        </div>
    </div>
        <!-- SONG -->

    <!-- SONG -->
<div class="song fade-up">

    <div class="song-img">
        <img src="images/kes.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Keshav Kumar Jha</div>
        <div class="artist-name">Aluminati</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;" >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="blindinglights">
                    <source src="music/The-Weeknd-Blinding-Lights-_Lyrics_.ogg" type="audio/ogg">
                    <source src="music/The Weeknd - Blinding Lights (Lyrics).mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song mouse">
                <a href="music/The Weeknd - Blinding Lights (Lyrics).mp3"  download="Blinding Lights - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
        <img src="images/pus.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Pushpendra Nagle</div>
        <div class="artist-name">Aluminati</div>
        </div>
        <div class="music-player"> 
            <div class="play-song mouse">
                <!-- DATA-SONG AND DATA-AUDIO SHOULD EXACTLY BE SAME -->
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="killmonger">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/killmonger.mp3"  download="KillMonger - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->


        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/abhi.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Abhimanyu Singh Bisht</div>
        <div class="artist-name">Ex- President</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
               
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="alone">
                    <source src="music/old-town-road.ogg" type="audio/ogg">
                    <source src="music/old-town-road.mp3" type="audio/mp3">
                    </audio> 
            </div>




            <div class="download-song">
                <a href="music/old-town-road.mp3"  download="Alone - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/kush.webp" alt="song"  data-song="blindinglights" class="play">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Khushi Shah</div>
        <div class="artist-name">Cushy!</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images\LogoComic.webp" style="width: 60px; height: 15px;"   >
               
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="whatspoppin">
                    <source src="music/The-Weeknd-Blinding-Lights-_Lyrics_.ogg" type="audio/ogg">
                    <source src="music/The Weeknd - Blinding Lights (Lyrics).mp3" type="audio/mp3">
                    </audio> 
            </div>




            <div class="download-song">
                <a href="music/The Weeknd - Blinding Lights (Lyrics).mp3"  download="What's Poppin- QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/sau.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Soumitra Upadhyay</div>
        <div class="artist-name">100!</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
               
                <audio data-audio="thebox">
                    <source src="music/old-town-road.ogg" type="audio/ogg">
                    <source src="music/old-town-road.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/old-town-road.mp3"  download="The BOX - QUIZ CLUB IIT PATNA"></a>
            </div>




        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/dhr.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Dhrutisundar Sahoo</div>
        <div class="artist-name">Sundar!</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"   >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="shatter">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>



            <div class="download-song">
                <a href="music/killmonger.mp3"  download="Shatter - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/KP.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Khushi Prasad</div>
        <div class="artist-name">Ex-President</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"   >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="coolblue">
                    <source src="music/old-town-road.ogg" type="audio/ogg">
                    <source src="music/old-town-road.mp3" type="audio/mp3">
                    </audio> 
            </div>


            <div class="download-song">
                <a href="music/old-town-road.mp3"  download="Cool Blue - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/ama.webp" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Ammar Ahmad</div>
        <div class="artist-name">Maksad nahi bhula hoon!</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"   >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="darkfire">
                    <source src="music/The-Weeknd-Blinding-Lights-_Lyrics_.ogg" type="audio/ogg">
                    <source src="music/The Weeknd - Blinding Lights (Lyrics).mp3" type="audio/mp3">
                    </audio> 
            </div>


            <div class="download-song">
                <a href="music/The Weeknd - Blinding Lights (Lyrics).mp3"  download="Dark Fire - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
        <img src="images/kj.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Kirtan Jain</div>
            <div class="artist-name">kuch bhi daal de</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"   >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/killmonger.mp3"  download="The Other Side - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>
    <!-- SONG -->


    
        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
        <img src="images/yas.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Yash Kamdar</div>
            <div class="artist-name">insert a funny line here</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"   >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/killmonger.mp3"  download="The Other Side - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/yuv.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Yuvraj Verma</div>
            <div class="artist-name">not a QC Subcoord</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>
            <div class="download-song">
                <a href="music/killmonger.mp3"  download="The Other Side - QUIZ CLUB IIT PATNA"></a>
            </div>
        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Ruchi C Thakur</div>
            <div class="artist-name">insert a funny line here</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Divyam Goel</div>
            <div class="artist-name">ACC > QC</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Avnish Aryan</div>
            <div class="artist-name">Not Parth</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Sachin Singh</div>
            <div class="artist-name">Dancing my way to the top</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Manas</div>
            <div class="artist-name">Dhruti bhaiya ke darr me</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Arunangshu Pal</div>
            <div class="artist-name">Register karlo!</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Ayush Kumar</div>
            <div class="artist-name">Ahh you sshhh</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Deepanker Jauhari</div>
            <div class="artist-name">President</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Siddhant Senapati</div>
            <div class="artist-name">Secretary</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Nagesh Desai</div>
            <div class="artist-name">I am in parakh? OK!</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>

<div class="song fade-up">
    <div class="song-img">
        <img src="images/ruc.webp" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
            <div class="song-name">Yash Malik</div>
            <div class="artist-name">Anushka pe fida</div>
        </div>
        <div class="music-player">
         
            <div class="play-song mouse">
                <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  >
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="theotherside">
                    <source src="music/killmonger.ogg" type="audio/ogg">
                    <source src="music/killmonger.mp3" type="audio/mp3">
                    </audio> 
            </div>

        </div>
    </div>
    
</div>
    <!-- SONG -->






</div>
</div>

<!-- SONGS CONTAINER -->



 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->
  
               
   
 <!-- MUSIC INDICATOR -->
 <div class="music-indicator">
    <span style="--i:1;" class="music-indicator-span"></span>
    <span style="--i:2;" class="music-indicator-span "></span>
    <span style="--i:3;" class="music-indicator-span "></span>
    <span style="--i:4;" class="music-indicator-span "></span>
  </div>
   <!-- MUSIC INDICATOR -->
  
               


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->






        </div>
<!-- CONTENT -->


      
<!-- HEADER -->


    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <img src="images/logo2.webp" style="width: 25px; height: 25px;" alt="play" data-song="darkfire" >
            <a href="#" class="text">QUIZ CLUB IIT PATNA</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index-one.html" data-text="Home">Home</a></li>
            <li><a href="about-one.html"  data-text="Quizzes" >Quizzes</a></li>
            <li><a href="songs-one.html" data-text="Team" >Team</a></li>
            <li><a href="contact-one.html"  data-text="Contact" >Contact</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/LogoComic.webp"  style="width: 60px; height: 15px;" title="headphone zone" class="text" alt="headphone"> 
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li><a href="#" data-text="Youtube" class="text hover"><ion-icon name="logo-youtube"></ion-icon></a></li>
                <li><a href="#" data-text="Facebook" class="text hover"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#" data-text="Instagram" class="text hover"><ion-icon name="logo-instagram"></ion-icon></a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->

<!-- HEADER -->


    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <img src="images/logo2.webp" style="width: 25px; height: 25px;" alt="play" data-song="darkfire" >
            <a href="#" class="text">QUIZ CLUB IIT PATNA</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index.html" data-text="Home" data-img="images/bg-image-three.webp">Home</a></li>
            <li><a href="blog-single.html"  data-text="Quizzes"  data-img="images/about-img.webp">Quizzes</a></li>
            <li><a href="songs-one.html" data-text="Team"  data-img="images/album-thumbnail-nine.webp">Team</a></li>
            <li><a href="contact-one.html"  data-text="Contact" data-img="images/main-bg-three.webp">Contact</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/LogoComic.webp" style="width: 60px; height: 15px;"  title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li><a href="#" data-text="Youtube" class="text hover"><ion-icon name="logo-youtube"></ion-icon></a></li>
                <li><a href="#" data-text="Facebook" class="text hover"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#" data-text="Instagram" class="text hover"><ion-icon name="logo-instagram"></ion-icon></a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->


      






    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>
</html>